media-controller {
  /* --media-font: "Inter", sans-serif; */
  --media-font-size: 13px;
  --media-font-weight: 500;
  --media-font-family: var(--font-inter), sans-serif;
  --media-text-content-height: 1.375;
  --media-primary-color: var(--color-foreground);
  --media-secondary-color: color-mix(in srgb, var(--color-foreground) 85%, transparent);
  --media-control-background: transparent;
  --media-control-hover-background: transparent;
  --media-icon-color: transparent;
  --media-text-color: var(--color-foreground);
  --media-range-background: var(--color-foreground);
  --media-range-track-background: color-mix(in srgb, var(--color-foreground) 10%, transparent);
  --media-time-range-buffered-color: color-mix(in srgb, var(--color-foreground) 10%, transparent);
  --media-range-track-height: 0.375rem;
  --media-range-thumb-background: var(--color-foreground);
  --media-range-track-border-radius: 3px;
  --media-range-bar-color: var(--color-foreground);
  --media-preview-background: var(--color-background);
  --media-range-padding-left: 0px;
  --media-range-padding-right: 0px;
}
